In [400]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display

In [401]:
# Imported data immigrations data
eurostat_immigrations = pd.read_excel("datas/eurostat_immigrations.xlsx")     
eurostat_immigrations.head(10)

                                        TIME    2011  ...     2021     2022
0                               GEO (Labels)     NaN  ...      NaN      NaN
1  European Union - 27 countries (from 2020)       :  ...  4151632  7026997
2       Euro area – 20 countries (from 2023)       :  ...        :        :
3      Euro area - 19 countries  (2015-2022)       :  ...        :        :
4                                    Belgium  147377  ...   139743   208356
5                                   Bulgaria       :  ...    39461    40619
6                                    Czechia   27114  ...    69360   347429
7                                    Denmark   52833  ...    63489   121183
8                                    Germany  489422  ...   874367  2071690
9                                    Estonia    3709  ...    19524    49414

[10 rows x 13 columns]

In [402]:
# Cleaned data and defined it as a clean one. From here, I'm going to use the clean_eurostat_i dataframe
clean_eurostat_i = eurostat_immigrations.drop(range(0, 4))
clean_eurostat_i.replace(':', pd.NA, inplace=True)
clean_eurostat_i = clean_eurostat_i.dropna(subset=['TIME'])
clean_eurostat_i.reset_index(drop=True, inplace=True)
clean_eurostat_i.rename(columns={"TIME": "Country Name"}, inplace=True)
clean_eurostat_i

              Country Name    2011    2012  ...    2020    2021     2022
0                  Belgium  147377  129477  ...  118683  139743   208356
1                 Bulgaria    <NA>   14103  ...   37364   39461    40619
2                  Czechia   27114   34337  ...   63095   69360   347429
3                  Denmark   52833   54409  ...   57230   63489   121183
4                  Germany  489422  592175  ...  728606  874367  2071690
5                  Estonia    3709    2639  ...   16209   19524    49414
6                  Ireland   57292   61324  ...   81918   83770   157537
7                   Greece   60089   58200  ...   84221   57120    96662
8                    Spain  371331  304053  ...  467918  887960  1258894
9                   France  319816  327431  ...  283250  336398   431017
10                 Croatia    8534    8959  ...   33414   35912    57972
11                   Italy  385793  350772  ...  247526  318366   410985
12                  Cyprus   23037   17476  ...   25861   24001    31052
13                  Latvia   10234   13303  ...    8840   12689    38708
14               Lithuania   15685   28797  ...   46020   44858    87367
15              Luxembourg   20268   20478  ...   22490   25335    31433
16                 Hungary   28018   33702  ...   75470   80471    94148
17                   Malta    5465    9152  ...   14751   16963    34964
18             Netherlands  130118  124566  ...  182244  214105   326798
19                 Austria   82230   91557  ...  103565  118511   201622
20                  Poland  157059  217546  ...  210615  241116   275515
21                Portugal   18820   14668  ...   83654   97119   167098
22                 Romania  147685  167266  ...  145519  194642   293024
23                Slovenia   14083   15022  ...   36110   23624    35613
24                Slovakia    4829    5419  ...    6775    5733     5463
25                 Finland   29481   31278  ...   32898   36364    49998
26                  Sweden   96467  103059  ...   82518   90631   102436
27                 Iceland    4073    4960  ...    8544    8996    14878
28           Liechtenstein     650     671  ...     713     669      770
29                  Norway   70337   69908  ...   36287   53947    90475
30             Switzerland  148799  149051  ...  138778  144907   167079
31          United Kingdom  566044  498040  ...    <NA>    <NA>     <NA>
32  Bosnia and Herzegovina    <NA>    <NA>  ...    <NA>    <NA>     <NA>
33              Montenegro    6025    5727  ...    6008    <NA>    15989
34                 Moldova    <NA>    <NA>  ...    <NA>    <NA>     <NA>
35         North Macedonia    1464    1715  ...    2555    1570     2452
36                 Georgia    <NA>    <NA>  ...    <NA>    <NA>   179778
37                 Albania    <NA>    <NA>  ...    <NA>    <NA>     <NA>
38                  Serbia    <NA>    <NA>  ...    <NA>    <NA>     <NA>
39                 Türkiye    <NA>    <NA>  ...    <NA>    <NA>   494052
40                 Belarus    <NA>    <NA>  ...    <NA>    <NA>     <NA>
41                  Russia    <NA>    <NA>  ...    <NA>    <NA>     <NA>
42              San Marino    <NA>    <NA>  ...    <NA>    <NA>     <NA>
43           United States    <NA>    <NA>  ...    <NA>    <NA>     <NA>
44              Kyrgyzstan    <NA>    <NA>  ...    <NA>    <NA>     <NA>
45              Tajikistan    <NA>    <NA>  ...    <NA>    <NA>     <NA>
46              Uzbekistan    <NA>    <NA>  ...    <NA>    <NA>     <NA>
47                 Armenia    <NA>    <NA>  ...    <NA>    <NA>     <NA>
48              Azerbaijan    <NA>    <NA>  ...    <NA>    <NA>     <NA>

[49 rows x 13 columns]

In [403]:
# Uploaded World Bank Data unemployment dataset
unemployment_wb = pd.read_excel("datas/unemployment_wb.xlsx")

# Column names have the same year twice. So I dropped all characters after the first 4 digits to clean column names.
# The first column and its values should not be affected.

unemployment_wb.rename(columns=lambda x: x[:4] if len(x) > 4 and x != "Country Name" else x, inplace=True)
unemployment_wb

                                   Country Name Coun   1990  ...      2021 2022 2023
0                                   Afghanistan  AFG     ..  ...      5.58   ..   ..
1                                       Albania  ALB    9.5  ...        ..   ..   ..
2                                       Algeria  DZA  21.26  ...        ..   ..   ..
3                                American Samoa  ASM   5.11  ...        ..   ..   ..
4                                       Andorra  AND     ..  ...        ..   ..   ..
..                                          ...  ...    ...  ...       ...  ...  ...
261                          Sub-Saharan Africa  SSF     ..  ...        ..   ..   ..
262  Sub-Saharan Africa (excluding high income)  SSA     ..  ...        ..   ..   ..
263   Sub-Saharan Africa (IDA & IBRD countries)  TSS     ..  ...        ..   ..   ..
264                         Upper middle income  UMC     ..  ...  6.542789   ..   ..
265                                       World  WLD     ..  ...  6.164516   ..   ..

[266 rows x 14 columns]

In [404]:
# SECOND unemployment dataset (Eurostats)
unemployment_es = pd.read_excel("datas/unemployment_es.xlsx")
unemployment_es.rename(columns={"GEO (Labels)": "Country Name"}, inplace=True)
unemployment_es = unemployment_es.drop(range(0, 1))
unemployment_es

                                 Country Name  2012  2013  ...  2021  2022  2023
1                               Liechtenstein     :     :  ...     :     :     :
2                              United Kingdom     :     :  ...     :     :     :
3                                  Montenegro    20  19.5  ...     :     :     :
4                             North Macedonia    31    29  ...     :     :     :
5                                     Albania     :     :  ...     :     :     :
6                                     Czechia     7     7  ...   2.8   2.2   2.6
7                                      Poland  10.4  10.6  ...   3.4   2.9   2.8
8                                     Germany   5.1     5  ...   3.7   3.2   3.1
9                                       Malta   6.2   6.1  ...   3.8   3.5   3.5
10                                    Iceland     6   5.4  ...   6.1   3.8   3.5
11                                Netherlands   6.8   8.2  ...   4.2   3.5   3.6
12                                     Norway   3.5   3.9  ...   4.4   3.2   3.6
13                                   Slovenia   8.9  10.1  ...   4.8     4   3.7
14                                    Hungary  10.7   9.8  ...   4.1   3.6   4.1
15                                Switzerland   4.5   4.8  ...   5.1   4.1   4.1
16                                   Bulgaria  13.3  13.9  ...   5.2   4.2   4.3
17                                    Ireland  15.5  13.8  ...   6.2   4.5   4.3
18                                    Denmark   7.8   7.4  ...   5.1   4.5   5.1
19                                    Austria   5.2   5.7  ...   6.2   4.8   5.1
20                                 Luxembourg   5.1   5.9  ...   5.3   4.6   5.2
21                                    Belgium   7.6   8.6  ...   6.3   5.6   5.5
22                                    Romania   8.7     9  ...   5.6   5.6   5.6
23                                     Cyprus  11.9  15.9  ...   7.5   6.8   5.8
24                                   Slovakia  13.9  14.1  ...   6.8   6.1   5.8
25  European Union - 27 countries (from 2020)  11.1  11.6  ...   7.1   6.2   6.1
26                                    Croatia    16  17.3  ...   7.5   6.8   6.1
27                                    Estonia   9.9   8.6  ...   6.2   5.6   6.4
28                                     Latvia  15.1  11.9  ...   7.6   6.9   6.5
29                                   Portugal  16.6  17.2  ...   6.7   6.2   6.5
30       Euro area – 20 countries (from 2023)  11.5  12.2  ...   7.8   6.8   6.6
31                                  Lithuania  13.4  11.8  ...   7.1     6   6.9
32                                    Finland   7.9   8.3  ...   7.7   6.8   7.2
33                                     France   9.8  10.3  ...   7.9   7.3   7.3
34                                      Italy  10.9  12.4  ...   9.5   8.1   7.7
35                                     Sweden   8.1   8.1  ...   8.9   7.5   7.7
36                                    Türkiye   8.2   8.8  ...    12  10.5   9.4
37                                     Serbia    26  24.2  ...  11.2   9.6   9.5
38                                     Greece  24.8  27.8  ...  14.7  12.5  11.1
39                                      Spain  24.8  26.1  ...  14.9    13  12.2
40                     Bosnia and Herzegovina     :     :  ...  17.4  15.4  13.2

[40 rows x 13 columns]

In [405]:
# Imported Spain tourist number per year
spain_tourist_number = pd.read_excel("datas/Spain_tourist_number.xlsx")
spain_tourist_number

                            Arrivals      Units   1995  ...   2020   2021    2022
0                     Total arrivals  Thousands  52460  ...  36410  51631  104968
1     Overnights visitors (tourists)  Thousands  32971  ...  18933  31181   71659
2  Same-day visitors (excursionists)  Thousands  19489  ...  17477  20450   33309
3        of which, cruise passengers  Thousands     ..  ...     ..    479    2541

[4 rows x 30 columns]

In [406]:
# Imported Spain tourists' regions per year (if necessary)
spain_tourist_number_by_region = pd.read_excel("datas/Spain_tourist_region.xlsx")
spain_tourist_number_by_region

                    Arrivals by region      Units  ...     2020     2021
0                                Total  Thousands  ...  31180.9  71659.3
1                               Africa  Thousands  ...    250.3    830.2
2                             Americas  Thousands  ...   1867.3   6359.4
3            East Asia and the Pacific  Thousands  ...    230.3   1086.7
4                               Europe  Thousands  ...  28505.9  62765.3
5                          Middle East  Thousands  ...    281.2    416.8
6                           South Asia  Thousands  ...     45.9    200.9
7                 Other not classified  Thousands  ...       ..       ..
8  of which, nationals residing abroad  Thousands  ...       ..       ..

[9 rows x 29 columns]

In [407]:
# Imported police-recorded offences by country (number)
police_recorded_offences_number = pd.read_excel("datas/Police_recorded_offences_number.xlsx")
police_recorded_offences_number.rename(columns={"GEO (Labels)": "Country Name"}, inplace=True)
police_recorded_offences_number

                         Country Name     2008  ...     2021     2022
0                             Belgium   245682  ...   166968   195873
1                            Bulgaria    42553  ...    24435    28250
2                             Czechia   148264  ...    26928    34774
3                             Denmark   297206  ...   124628   146613
4                             Germany  2052913  ...   835368  1043887
5                             Estonia    23506  ...     7513     8027
6                             Ireland    76821  ...    44553    62282
7                              Greece    53928  ...    58937    71130
8                               Spain   237525  ...   124302   181687
9                              France   962583  ...  1180970  1333128
10                            Croatia    15300  ...    10325    11087
11                              Italy  1223105  ...   702153   844951
12                             Cyprus     3191  ...      527      613
13                             Latvia    25844  ...     7900     9621
14                          Lithuania    29610  ...     7736     9628
15                         Luxembourg     7021  ...    10902    16264
16                            Hungary   127125  ...    42428    48616
17                              Malta     6646  ...     3504     3584
18                        Netherlands   704160  ...   183955   233055
19                            Austria   174008  ...    73213    97139
20                             Poland   214414  ...   108720   120901
21                           Portugal   126956  ...    63954    73365
22                            Romania    41874  ...    64509    59293
23                           Slovenia    28765  ...    18128    21548
24                           Slovakia    33743  ...    11962    13598
25                            Finland   139476  ...   124104   124826
26                             Sweden   436446  ...   288987   298778
27                            Iceland     4718  ...     3760     3414
28                      Liechtenstein      178  ...      184      254
29                             Norway   150703  ...    79133    99312
30                        Switzerland   120817  ...   117586   138970
31                  England and Wales  1592758  ...        :        :
32               Scotland (NUTS 2021)   117033  ...        :        :
33  Northern Ireland (UK) (NUTS 2021)    24380  ...        :        :
34             Bosnia and Herzegovina     8180  ...     3161     3087
35                         Montenegro      794  ...      337      340
36                    North Macedonia     6627  ...        :        :
37                            Albania     3596  ...     3342     2458
38                             Serbia    19863  ...    17363    17574
39                            Türkiye        :  ...   210246   242527
40                            Kosovo*    15466  ...     4621        :

[41 rows x 16 columns]

In [408]:
# Imported police-recorded offences by country (Per hundred thousand inhabitants)
police_recorded_offences_pht = pd.read_excel("datas/Police_recorded_offences_pht.xlsx")
police_recorded_offences_pht.rename(columns={"GEO (Labels)": "Country Name"}, inplace=True)
police_recorded_offences_pht

                         Country Name     2008  ...     2021     2022
0                             Belgium  2303.23  ...  1445.01     1686
1                            Bulgaria   566.01  ...   353.28   413.08
2                             Czechia  1433.41  ...   256.58   330.65
3                             Denmark  5427.63  ...  2134.02  2496.21
4                             Germany  2496.92  ...  1004.59  1254.11
5                             Estonia  1756.22  ...   564.86   602.72
6                             Ireland   1723.3  ...   889.93  1230.87
7                              Greece   487.55  ...   551.92   680.03
8                               Spain    520.1  ...   262.25   383.04
9                              France  1503.87  ...  1745.53  1964.18
10                            Croatia   354.83  ...    255.8   287.06
11                              Italy  2085.33  ...  1185.34  1431.39
12                             Cyprus   411.03  ...    58.82    67.76
13                             Latvia  1179.12  ...   417.28   512.91
14                          Lithuania   921.68  ...   276.71   343.12
15                         Luxembourg  1451.22  ...  1717.58     2520
16                            Hungary   1265.5  ...   436.02   501.76
17                              Malta  1629.59  ...   678.94   687.95
18                        Netherlands  4292.25  ...  1052.65  1324.88
19                            Austria  2094.47  ...   819.61  1081.86
20                             Poland   562.54  ...   287.32   321.08
21                           Portugal  1202.99  ...   621.02    708.7
22                            Romania   202.92  ...   335.96   311.37
23                           Slovenia   1430.9  ...   859.56   1022.6
24                           Slovakia   627.65  ...   219.09   250.21
25                            Finland  2631.38  ...  2242.66  2249.83
26                             Sweden  4752.79  ...  2784.26  2858.48
27                            Iceland   1495.6  ...  1019.54   907.38
28                      Liechtenstein   503.45  ...   471.13   646.18
29                             Norway  3181.29  ...  1467.77  1830.54
30                        Switzerland  1591.06  ...  1356.19  1590.27
31                  England and Wales  2916.32  ...        :        :
32               Scotland (NUTS 2021)  2256.72  ...        :        :
33  Northern Ireland (UK) (NUTS 2021)  1377.12  ...        :        :
34             Bosnia and Herzegovina   212.81  ...        :        :
35                         Montenegro   128.99  ...    54.29    55.04
36                    North Macedonia   324.03  ...        :        :
37                            Albania   100.88  ...    118.1    87.99
38                             Serbia   269.68  ...   252.68   258.55
39                            Türkiye        :  ...   251.45    286.4
40                            Kosovo*    718.3  ...        :        :

[41 rows x 16 columns]

# Dataset Summary
- clean_eurostat_i = immigration numbers by country https://ec.europa.eu/eurostat
- unemployment_es = unemployment rate by country (Eurostat data) https://ec.europa.eu/eurostat/databrowser/view/tps00203/default/table?lang=en
- unemployment_wb = unemployment rate by country (World Bank dataset) https://data.worldbank.org/indicator/SL.UEM.TOTL.ZS
- spain_tourist_number = number of tourists by country. Filtered only Spain before importing https://www.unwto.org/tourism-statistics/key-tourism-statistics
- spain_tourist_number_by_region = Spain tourist numbers by region https://www.unwto.org/tourism-statistics/key-tourism-statistics
- police_recorded_offences_number = police-recorded offences number by country https://ec.europa.eu/eurostat/databrowser/view/crim_off_cat/default/table?lang=en
- police_recorded_offences_pht = police-recorded offences by country per hundred thousand inhabitants https://ec.europa.eu/eurostat/databrowser/view/crim_off_cat/default/table?lang=en

In [409]:
# Now, I'm going to merge all tables and filter only Spain, then melt them to use years as columns and rows as categories.
spain_eurostat_immigrations = clean_eurostat_i[clean_eurostat_i["Country Name"] == "Spain"]
spain_eurostat_immigrations

spain_unemployment_wb = unemployment_wb[unemployment_wb["Country Name"] == "Spain"]
spain_unemployment_wb.drop(columns=["Coun"], inplace=True)
spain_unemployment_wb

spain_unemployment_es = unemployment_es[unemployment_es["Country Name"] == "Spain"]
spain_unemployment_es

spain_tourist_number_total = spain_tourist_number[spain_tourist_number["Arrivals"] == "Total arrivals"]
spain_tourist_number_total

spain_police_recorded_offences_number = police_recorded_offences_number[police_recorded_offences_number["Country Name"] == "Spain"]
spain_police_recorded_offences_number

  Country Name    2008    2009    2010  ...    2019    2020    2021    2022
8        Spain  237525  217648  144618  ...  175850  104521  124302  181687

[1 rows x 16 columns]

Because all tables have different year gaps, I filtered from 2014 to 2022. This way, there will be no null values or empty spaces in our merged, melted table.

In [410]:
spain_eurostat_immigrations  = spain_eurostat_immigrations.iloc[:, 4:]
spain_eurostat_immigrations["Country Name"] = "Spain"
spain_eurostat_immigrations

     2014    2015    2016    2017  ...    2020    2021     2022 Country Name
8  305454  342114  414746  532132  ...  467918  887960  1258894        Spain

[1 rows x 10 columns]

In [411]:
spain_unemployment_wb = spain_unemployment_wb.iloc[:, 3:]
spain_unemployment_wb.drop(columns=["2023"], inplace=True)
spain_unemployment_wb["Country Name"] = "Spain"
spain_unemployment_wb

       2014    2015    2016    2017  ...    2020    2021    2022 Country Name
179  24.441  22.057  19.635  17.224  ...  15.532  14.781  12.917        Spain

[1 rows x 10 columns]

In [412]:
spain_unemployment_es  = spain_unemployment_es.iloc[:, 3:]
spain_unemployment_es.drop(columns=["2023"], inplace=True)
spain_unemployment_es["Country Name"] = "Spain"
spain_unemployment_es

    2014  2015  2016  2017  2018  2019  2020  2021 2022 Country Name
39  24.5  22.1  19.6  17.2  15.3  14.1  15.5  14.9   13        Spain

In [413]:
spain_tourist_number_total = spain_tourist_number_total.iloc[:, 21:]
spain_tourist_number_total["Country Name"] = "Spain"
spain_tourist_number_total = spain_tourist_number_total.applymap(lambda x: x.strip() if isinstance(x, str) else x)
spain_tourist_number_total

     2014    2015    2016    2017  ...   2020   2021    2022  Country Name
0  107144  109834  115561  121717  ...  36410  51631  104968         Spain

[1 rows x 10 columns]

In [414]:
spain_police_recorded_offences_number = spain_police_recorded_offences_number.iloc[:, 7:]
spain_police_recorded_offences_number["Country Name"] = "Spain"
spain_police_recorded_offences_number

     2014    2015    2016    2017  ...    2020    2021    2022 Country Name
8  155253  205751  163077  162426  ...  104521  124302  181687        Spain

[1 rows x 10 columns]

In [415]:
# I filtered Spain from all tables. Now, I'm going to merge all of them and melt them to use years as columns and categories as rows.
spain_eurostat_immigrations_melted = spain_eurostat_immigrations.melt(id_vars=["Country Name"], 
                                                                      var_name="Year", 
                                                                      value_name="Immigrations")
spain_unemployment_wb_melted = spain_unemployment_wb.melt(id_vars=["Country Name"], 
                                                          var_name="Year", 
                                                          value_name="Unemployment WB")
spain_unemployment_es_melted = spain_unemployment_es.melt(id_vars=["Country Name"], 
                                                          var_name="Year", 
                                                          value_name="Unemployment ES")
spain_tourist_number_melted = spain_tourist_number_total.melt(id_vars=["Country Name"], 
                                                              var_name="Year", 
                                                              value_name="Tourist Arrivals")
spain_offences_number_melted = spain_police_recorded_offences_number.melt(id_vars=["Country Name"], 
                                                                          var_name="Year", 
                                                                          value_name="Recorded Offences")

# Dropping the "Country Name" column, we will merge using the "Year" column
spain_eurostat_immigrations_melted.drop(columns=["Country Name"], inplace=True)
spain_unemployment_wb_melted.drop(columns=["Country Name"], inplace=True)
spain_unemployment_es_melted.drop(columns=["Country Name"], inplace=True)
spain_tourist_number_melted.drop(columns=["Country Name"], inplace=True)
spain_offences_number_melted.drop(columns=["Country Name"], inplace=True)

# Merging the data
merged_data = pd.merge(spain_eurostat_immigrations_melted, spain_unemployment_wb_melted, on="Year", how="outer")
merged_data = pd.merge(merged_data, spain_unemployment_es_melted, on="Year", how="outer")
merged_data = pd.merge(merged_data, spain_tourist_number_melted, on="Year", how="outer")
merged_data = pd.merge(merged_data, spain_offences_number_melted, on="Year", how="outer")

# Using melt to convert the data to a longer format
long_format = merged_data.melt(id_vars=["Year"], var_name="Category", value_name="Value")

# Using pivot to convert the data to have categories as rows and years as columns
pivot_data = long_format.pivot(index="Category", columns="Year", values="Value").reset_index()

# Display the pivot_data to ensure it is shown
pivot_data

Year           Category      2014      2015  ...    2020    2021     2022
0          Immigrations       NaN       NaN  ...  467918  887960  1258894
1     Recorded Offences       NaN       NaN  ...  104521  124302   181687
2      Tourist Arrivals  107144.0  109834.0  ...     NaN     NaN      NaN
3       Unemployment ES       NaN       NaN  ...    15.5    14.9       13
4       Unemployment WB       NaN       NaN  ...  15.532  14.781   12.917

[5 rows x 19 columns]